@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800&display=swap');
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Poppins', Arial, Helvetica, Sans-Serif;
      }
      a {
        color: inherit;
      }
      body {
        min-height: 100vh;
        background-color: #333;
        color: white;
      }
      button {
        border-radius: 4px;
        outline: none;
        border: 1px solid orange;
        cursor: pointer;
        background-color: #333;
        color: orange;
        padding: 9px 14px;
      }
      #secured_page {
        display: none;
      }
      #secured_page > h1 {
        color: orange;
        margin-bottom: 60px;
        text-align: center;
      }
      #secured_page,
      #unsecured_page {
        max-width: 900px;
        padding: 20px;
        margin: auto;
      }
      #unsecured_page {
        margin-top: 60px;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      input {
        padding: 8px;
      }
      input[type='submit'] {
        cursor: pointer;
      }
      #user-content {
        align-items: center;
        justify-content: space-between;
        display: flex;
        gap: 7px;
      }
      #loader {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #333;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;
      }
      .lds-facebook {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-facebook div {
        display: inline-block;
        position: absolute;
        left: 8px;
        width: 16px;
        background: #fff;
        animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
      }
      .lds-facebook div:nth-child(1) {
        left: 8px;
        animation-delay: -0.24s;
      }
      .lds-facebook div:nth-child(2) {
        left: 32px;
        animation-delay: -0.12s;
      }
      .lds-facebook div:nth-child(3) {
        left: 56px;
        animation-delay: 0;
      }
      @keyframes lds-facebook {
        0% {
          top: 8px;
          height: 64px;
        }
        50%,
        100% {
          top: 24px;
          height: 32px;
        }
      }
      #iset_ch {
        color: gray;
        font-style: italic;
        position: absolute;
        bottom: 6px;
        left: 0;
        right: 0;

        text-align: center;
      }
      #user-email {
        color: rgb(0, 159, 0);
      }
      #myForm {
        margin-top: 20px;
        padding-left: 20px;
      }
      #command-etat {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
      }
      .title {
        margin-bottom: 20px;
        font-size: 2.6rem;
        text-transform: uppercase;
        text-align: center;
        color: orange;
      }
      #message {
        height: 20px;
        text-align: center;
        color: rgb(235, 46, 46);
      }
      #etat {
        width: 100px;
      }
      .color-orange {
        color: orange;
      }
